body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 ;
    margin: 0 ;
    background-image: url(FondoPP.jpg);
    background-size: cover;
}

ul{
    display: flex;
    margin-right: 0px;
  }

li{
    font-size: 30px;
    list-style: none;
    margin-right: 40px;
    background-color:#d93034;
    border-radius: 100px;
    padding: 10px;
    color: white;
    align-items: center;
    
}
.menu{
    display: flex;
    align-items: center
  
}
.lista{
display: flex;
margin-left: -190px;
font-family: 'Playfair Display';
margin-right: -0px;
justify-content: space-between;
}
header{
    background-color:#f5767e;
    background-size: cover;
    display: flex;
    align-items: center;
}
.header2{
    background:url('Banner\ edit.jpg');
    background-size: cover;
    height: 100vh;
   vertical-align: middle;
    }

   .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Logotipo {
    font-family: 'Playfair Display';
    color: white;
    font-size: 20px;
  margin-left: 10px;
  margin-right: 250px;
 
}

a{
    text-decoration: none;
}

nav{
    margin: 0;
    padding: 0;
}

.logo{
    margin-left: 20px;
}

.lista a {
  text-decoration: none;
  color: white; 
}
body::-webkit-scrollbar {
    width: 32px;
    
  }
  
  body::-webkit-scrollbar-track {
    background: #d93034;
    border-radius: 0px; 
  }
  
  body::-webkit-scrollbar-thumb {
  
    border-radius: 10px; 
    border: 3px solid ; 
    border-color: #f5767e
}
.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px 10px;
    border: 2px solid #d93034;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 14px;
    width: 200px;
    transition: 0.3s ease;
}

.search-input:focus {
    border-color: #d93034; 
}

.search-button {
    padding: 5px 10px;
    background-color: #d93034;
   border-color: #d93034;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease, color 0.3s ease;
}

.search-button:hover {
    background-color: #d93034;
    color: #d93034;
}

.menu23{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius:20px;
    font-family:'Playfair Display';
     color: white;
}
.carta {
background-color: #f5767e;
border-radius: 10px;
width: 300px;
padding: 15px;
text-align: center;
box-shadow: #ffffff;
transition: transform 0.2s;
margin: 10px 0;

}

.carta:hover{
    transform: scale(1.05);
}

.carta img {
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}
.carta select, .carta buttom{
width: 100%;
padding: 10px;
margin: 10px;
font-size: 1rem;
border: 1px solid #d93034;
border-radius: 5px;
background-color: #d93034;
color: white;
font-family:'Playfair Display';
margin: 10px 0;
}

.cartabuttom{
   
    color: white;
    cursor: pointer;
    background-size: 20px;
    margin: 10px 0;
}
.cartabuttom:hover {
    background-color: #d93034;
    margin: 10px 0;
}
.Titulo{
    font-family: 'Playfair Display';
    color: white;
    margin: 50px;
    text-align: center;
    text-shadow:#f5767e;
    font-size: 70px;
    text-decoration:overline;
}
/*codigos del Footer*/
  .footer {
    background-image: url('FOOTER.jpg'); 
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    position: relative;
    text-align: center;
    padding: 50px 10px;
}

.footer-content h2 {
    margin-bottom: 15px;
    font-size: 26px;
    font-family: 'Playfair Display';
}

.footer-content p {
    margin: 5px 0;
    font-size: 16px;
    font-family: 'Playfair Display';
}

.footer-content a {
    color: #ffcc00; 
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Playfair Display';
}

.footer-content a:hover {
    color: #ffffff; 
}

.footer-content .copyright {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.8;
} 
.Titulo23{
    font-family: 'Playfair Display';
    color: white;
    margin: 50px;
    text-align: center;
    text-shadow:#f5767e;
    font-size: 70px;
    text-decoration:overline;
}
